/*reset-settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*var-settings*/
:root {
    --debug: none;
    --navigation-bg-color: rgb(255, 105, 0);
    --navigation-text-color: white;
    --discount-bg-color: rgb(255, 0, 0);
    --discount-text-color: white;
    --sustainable-bg-color: rgb(0, 127, 0);
    --sustainable-text-color: white;
    --actual-price-text-color: rgb(255, 0, 0);
    --footer-bg-color: rgb(26, 26, 26);
    --footer-text-color: white;

}

/*general-settings*/
.debug {
    border: 1px solid var(--debug);
}

.container {
    min-width: 700px;
    padding: 15px 10%;
    margin: 0 auto;

}

body {
    position: absolute;
}

ul {
    list-style: none;
}

li {
    padding: 0 10px;
}

.d-flex-row {
    display: flex;
    flex-flow: row wrap;
}

.d-flex-column {
    display: flex;
    flex-flow: column wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/*header-settings*/
header {
    background-color: var(--navigation-bg-color);
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
}

header a {
    font-size: 1.2em;
    color: var(--navigation-text-color);
    text-decoration: none;
}

.logo-size {
    width: 300px;
    display: block;
}

img {
    display: block;
    width: 100%;
    z-index: 0;
}

/*main-settings*/
main {
    position: relative;
    width: 100%;
    order: 1000;
    padding-top: 10%;
}

main div>div.img-settings {
    position: relative;
    margin: -20px 0;
    display: block;
}

.card-settings {
    width: calc(100% / 3);
    padding: 30px 15px;
    position: relative;
}

.img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 0;
}

.hover-images {
    position: absolute;
    width: 100%;
    top: 4,1%;
    z-index: 3;
}

.hover-images:hover {
    display: none;
}

h4 {
    padding: 5px auto;
}

main p {
    padding-right: 5px;

}

.actual-price {
    color: var(--actual-price-text-color);
    font-weight: bold;
}

.full-price {
    text-decoration: line-through;
}

.card-info {
    position: relative;
    z-index: 10;
    bottom: 80px;
    width: fit-content;
}

.card-discount {
    color: var(--discount-text-color);
    background-color: var(--discount-bg-color);
    padding: 5px 5px;
    margin-right: 5px;
}

.card-sustainable {
    color: var(--sustainable-text-color);
    background-color: var(--sustainable-bg-color);
    padding: 5px 5px;
}

.heart {
    position: relative;
    width: fit-content;
    top: 60px;
    left: calc(100% - 40px);
    z-index: 10;
    padding: 5px 10px;
    background-color: white;
    font-size: 1.5em;
}

.heart:hover {
    color: red;
}

main>div>:nth-child(5)>div:nth-child(1)>.card-info {
    /*hide card-info in fifth image*/
    visibility: collapse;
}

/*footer-settings*/
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 25px 0;
}

footer a {
    color: var(--navigation-text-color);
    text-decoration: none;
}

h2 {
    padding: 0 10px;
}

footer p {
    padding: 0 10px;
}

footer li {
    font-size: 1.5em;
}