/*reset-settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*var-settings*/
:root {
    --debug: black;
    --navigation-bg-color: rgb(255, 105, 0);
    --navigation-text-color: white;
    --discount-bg-color: rgb(255, 0, 0);
    --discount-text-color: white;
    --sustainable-bg-color: rgb(0, 127, 0);
    --sustainable-text-color: white;
    --actual-price-text-color: rgb(255, 0, 0);
    --footer-bg-color: rgb(26, 26, 26);
    --footer-bg-text-color: white;

}

/*general-settings*/
.debug {
    border: 1px solid var(--debug);
}

.container {
    min-width: 1200px;
    padding: 15px 10%;
    margin: 0 auto;

}

ul {
    list-style: none;
}

li {
    padding: 0 10px;
}

.d-flex-row {
    display: flex;
    flex-flow: row wrap;
}
.d-flex-column{
    display: flex;
    flex-flow: column wrap;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/*header-settings*/
header {
    background-color: var(--navigation-bg-color);
    width: 100%;
    position: fixed;
    z-index: 10000;
}

header a {
    font-size: 1.2em;
    color: var(--navigation-text-color);
    text-decoration: none;
}

.logo-size {
    width: 300px;
    display: block;
}

img {
    display: block;
    width: 100%;
    z-index: 1;
}

/*main-settings*/
main{
    position: absolute;
    width: 100%;
    top: 150px;
    order:1000;
}
main div>div.img-settings{
    position: relative;
}
.card-settings {
    width: calc(100% / 3);
    padding: 30px 15px;
}

h4 {
    padding: 5px auto;
}

p {
    padding-right: 5px;

}
.actual-price{
    color: var(--actual-price-text-color);
    font-weight: bold;
}
.full-price{
    text-decoration: line-through;
}
.card-info{
    position: fixed;
    z-index:2;
    bottom: 250px;
}
.card-discount{
    color: var(--discount-text-color);
    background-color: var(--discount-bg-color);
    padding: 5px 5px;
}
.card-sustainable{
    color: var(--sustainable-text-color);
    background-color: var(--sustainable-bg-color);
    padding: 5px 5px;
    margin: 0 5px;
}
.heart{
    position: fixed;
    z-index: 2;
    padding: 5px 10px;
    background-color: white;
    font-size: 1.5em;
    align-self: flex-end;
    margin: 10px auto;
}